<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393542663418-9d19vcljrd735pc11l7th7b6kk8d6k8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393542663418-9d19vcljrd735pc11l7th7b6kk8d6k8a</string>
	<key>API_KEY</key>
	<string>AIzaSyCZlqOjF4mZW_pFxplAARNfy9NwEGTUBG0</string>
	<key>GCM_SENDER_ID</key>
	<string>393542663418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.samridhAgarwal.Clima</string>
	<key>PROJECT_ID</key>
	<string>clima-ae30b</string>
	<key>STORAGE_BUCKET</key>
	<string>clima-ae30b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393542663418:ios:114837ea06854066b79d43</string>
</dict>
</plist>